@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    if (Model.Count() < 1)
    {
        <p>No users yet</p>
    }
    else
    {
        <h3>Select your user and update your role: </h3>
        <h2><a asp-action="LogIn">After, Log in again to update your role</a></h2>
        <table class="table table-hover">
            <thead class="bg-info">
                <tr>
                    <th>User Name</th>
                    <th>User Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.UserName</td>
                        <td><a asp-controller="Role" asp-action="AddUserRole" asp-route-id="@u.Id">Add Role/Update Role</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}