@using ProyectoFinal.Models
@model IEnumerable<Course>

<h1>Courses</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Course name</th>
        </tr>
    </thead>
    <tbody>
    @{ 
        foreach(var c in Model)
        {
            <tr>
                <td>@c.CourseName</td>
            </tr>
        }
    }
    </tbody>
</table>