@using ProyectoFinal.Models
@model Department

<p><a asp-action="AllDepartments">Back to departments</a></p>
<form asp-controller="Secretary" asp-action="AddDepartment" method="post">
    @*<label asp-for="DepartmentId"></label>
    <input asp-for="DepartmentId" />
    <br/>*@
    <div class="form-group">
        <label asp-for="DepartmentName"></label>
        <input class="form-control" asp-for="DepartmentName" />
        <br />
    </div>
    <button type="submit" class="btn btn-success">Add Department</button>
</form>