@using ProyectoFinal.ViewModels
@model SecretaryAddTeacherViewModel

<h4>Edit teacher</h4>
<p><a asp-action="AllTeachers">Back to teacher list</a></p>

<form asp-action="AddTeacher" method="post">
    <div class="form-group">
        <label asp-for="Teacher.TeacherDNI"></label>
        <input class="form-control" asp-for="Teacher.TeacherDNI" />
        <br />
        <label asp-for="Teacher.TeacherName"></label>
        <input class="form-control" asp-for="Teacher.TeacherName" />
        <br />
        <label asp-for="Teacher.Age"></label>
        <input class="form-control" asp-for="Teacher.Age" />
        <br />
        <label asp-for="Teacher.Address"></label>
        <input class="form-control" asp-for="Teacher.Address" />
        <br />
        <label asp-for="Teacher.Email"></label>
        <input class="form-control" asp-for="Teacher.Email" />
        <br />
        <label asp-for="Department.DepartmentName"></label>
        <select class="form-control" asp-for="Department.DepartmentId" asp-items="@Model.DepartmentList"></select>
        <br />
    </div>
    <button class="btn btn-success" type="submit">Add Teacher</button>
</form>