@using ProyectoFinal.Models
@model IEnumerable<Department>

<h1>Departments</h1>

<p><a asp-action="AddDepartment">Add Department</a></p>

@{
    if (Model.Count() < 1)
    {
        <p>No departments in database yet</p>
    }
    else
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Department Id</th>
                    <th>Deparment Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               @foreach(var d in Model)
               {
                   <tr>
                       <td>@d.DepartmentId</td>
                       <td>@d.DepartmentName</td>
                       <td><a asp-action="EditDepartment" asp-route-id="@d.DepartmentId">Edit</a></td>
                       <td><a asp-action="DeleteDepartment" asp-route-id="@d.DepartmentId">Delete</a></td>
                   </tr>
               }
            </tbody>
        </table>
    }

}