@using ProyectoFinal.Models
@model IEnumerable<Department>

<h3>Departments</h3>



@{
    if (Model.Count() < 1)
    {
        <p>No departments in database yet</p>
        <p><a asp-action="AddDepartment" class="btn btn-warning">Add Department</a></p>
    }
    else
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Department Id</th>
                    <th>Deparment Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.DepartmentId</td>
                        <td>@d.DepartmentName</td>
                        <td><a class="btn"btn-warning" asp-action="EditDepartment" asp-route-id="@d.DepartmentId">Edit</a></td>
                        <td><a class="btn btn-danger" asp-action="DeleteDepartment" asp-route-id="@d.DepartmentId">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <p><a asp-action="AddDepartment" class="btn btn-warning">Add Department</a></p>
    }

}