@using ProyectoFinal.Models
@model IEnumerable<Incidents>


@{
    if (Model.Count() < 1)
    {
        <p>No incidents in database yet</p>
        <p><a asp-action="Index">Back</a></p>
    }
    else
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Incident Id</th>
                    <th>Teacher Name</th>
                    <th>Incident date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@t.IncidentsId</td>
                        <td>@t.Teacher.TeacherName</td>
                        <td>@t.IncidentDate</td>
                        <td>@t.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <p><a asp-action="Index">Back</a></p>
    }

}