@using ProyectoFinal.Models
@model Department

<h1>Are you sure you want to delete this departemnt...?</h1>
<p><a asp-action="AllDepartments">Back to departments</a></p>
<form asp-controller="Secretary" asp-action="DeleteDepartment" method="post">
    <label asp-for="DepartmentId"></label>
    <input asp-for="DepartmentId" />
    <br/>
    <label asp-for="DepartmentName"></label>
    <input asp-for="DepartmentName" />
    <br />
    <button type="submit">Delete Department</button>
</form>