@using ProyectoFinal.ViewModels
@model SecretaryDeleteSubjectViewModel

<h1>Do yo want to delete this subject...?</h1>
<p><a asp-action="AllSubjects">Back to subjects</a></p>
<form asp-action="DeleteSubject" asp-controller="Secretary" method="post">
    <div class="form-group">
    <label asp-for="Course.CourseId"></label>
    <input class="form-control" asp-for="Course.CourseId" readonly="readonly"/>
    <br/>
    <label asp-for="Course.CourseName"></label>
    <input class="form-control" asp-for="Course.CourseName" readonly="readonly"/>
    <br />
    <label asp-for="Course.Credits"></label>
    <input class="form-control" asp-for="Course.Credits" readonly="readonly" />
    <br />
    <label asp-for="Course.StartDate"></label>
    <input class="form-control" asp-for="Course.StartDate" readonly="readonly"/>
    <br />
    <label asp-for="Course.EndDate"></label>
    <input class="form-control" asp-for="Course.EndDate" readonly="readonly"/>
    <br />
    <label asp-for="Course.YearGrade"></label>
    <input class="form-control" asp-for="Course.YearGrade" readonly="readonly" />
    <br />
    <label asp-for="Course.Price"></label>
    <input class="form-control" asp-for="Course.Price" readonly="readonly"/>
    <br />
    <label asp-for="Course.SeatCapacity"></label>
    <input class="form-control" asp-for="Course.SeatCapacity" readonly="readonly"/>
    <br />
    <label asp-for="Course.Optional"></label>
    <input asp-for="Course.Optional" readonly="readonly"/>
    <br />
     </div>
    <button type="submit" class="btn btn-danger">Delete Subject</button>
</form>