@using ProyectoFinal.Models
@model Department

<p><a asp-action="AllDepartments">Back to departments</a></p>
<form asp-controller="Secretary" asp-action="EditDepartment" method="post">
    <input type="hidden" asp-for="DepartmentId" />
    <br />
    <div class="form-group">
        <label asp-for="DepartmentName"></label>
        <input class="form-control" asp-for="DepartmentName" />
        <br />
    </div>
  
    <button type="submit" class="btn btn-success">Edit Department</button>
</form>