<h1>Secretary Home</h1>
<p><a asp-controller="Account" asp-action="LogOut">Log Out</a></p>
<p><a asp-action="AllDepartments">See Departments</a></p>
<p><a asp-action="AllTeachers">See Teachers</a></p>
<p><a asp-action="AllSubjects">See Subjects</a></p>
<p><a asp-action="SubjectTeacherAdd">Asing teacher a subject</a></p>
<p><a asp-action="AllIncidents">See incidents</a></p>