@using ProyectoFinal.ViewModels
@model RoleAddUserRoleViewModel

<p>Pick a role for @Model.User.UserName</p>

<form asp-controller="Role" asp-action="AddUserRole" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
    <input class="form-control" asp-for="@Model.User.Id" type="hidden" />
    <label asp-for="Role"></label>
    <select class="form-control" asp-for="Role" asp-items="@Model.RoleList"></select>
    <br />
    </div>
    <button class="btn btn-success" type="submit">Add to RoleList</button>
</form>

<p><a asp-controller="Account" asp-action="AllUser">Back to User List</a></p>
