@using ProyectoFinal.Models
@model IEnumerable<Student>

@{
    if (Model.Count() < 1)
    {
        <p>There are no profiles yet</p>
    }
    else
    {
        <h3>All profiles</h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Profile Name</th>
                <th>Office Location</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.StudentId</td>
                    <td>@i.StudentName</td>
                    <td>@i.StudentDNI</td>
                    <td><a>See Payments</a></td>
                </tr>
            }
        </table>
    }
}
<p><a asp-controller="Home" asp-action="Index">Return</a></p>