@using ProyectoFinal.Models
@model Enrollment

@{
    if (Model.Courses.Count() < 1)
    {
        <p>you havent got any courses yet</p>
    }
    else
    {

        foreach (var i in Model.Courses)
        {
            <p>@i.CourseName</p>
        }

    }

}