@using ProyectoFinal.ViewModels
@model StudentEnrrollCourseViewModel

@{
    <form asp-action="EnrollCourse" method="post">
        <label asp-for="Student.StudentName"></label>
        <select asp-for="Student.StudentId" asp-items="@Model.StudentList"></select>
        <br/>
        <label asp-for="Course.CourseName"></label>
        <select asp-for="Course.CourseId" asp-items="@Model.CourseList"></select>
        <button type="submit">Enroll</button>
    </form>
  
}