@using ProyectoFinal.ViewModels
@model StudentEnrrollCourseViewModel

@{
    <form asp-action="EnrollCourse" method="post">
        @foreach (var i in Model.CourseList)
        {

        <label>Choose subject</label>
        <select asp-for="@Model.Course.CourseId" asp-items="@Model.CourseList"></select>
        }
        <button type="submit">Enroll</button>
    </form>
  
}